<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>anyzone</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3efb5b8a36.js" crossorigin="anonymous"></script>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">anyzone</a>
        </div>
        <ul class=" navbar-nav navbar-right">
            <a id="home"><a href="/">HOME</a></a>
            <a id="home"><a href="/admin-signup">signup</a></a>
            <a id="home"><a href="/admin-login">login</a></a>
            <a id="home"><a href="/cart">cart</a></a>
        </ul>
    </nav>

<body>
    <div class="container">