<%-include("partials/header")-%>
<link rel="stylesheet" href="/css/style.css">
<h1>hello list_products</h1>
<form action="list_product" method="post">
    <input type="text"name="pname" id="pname">enter productname
    <input type="text" name="price" id="price">enter price
    <input type="text" name="pimage" id="pimage">enter product image-link
    <button>List Product</button>
</form>