<%-include("partials/header")-%>
<link rel="stylesheet" href="/css/style.css">
<h1>hello signup</h1>
<form action="/admin-signup" method="post">
    <input type="text" name="admin_name" id="admin_name">
    <input type="text" name="admin_pass" id="admin_pass">
    <button>signup</button>
</form>